@charset "utf-8";
*{margin:0;padding:0}
li{list-style:none}
a:link,a:visited{color:#000}
a{text-decoration: none;}
img{display: block;max-width:100%;}
.clearfix:after{content:"";clear: both;display: block;}
